<div class="container">
  <div class="row">
    <app-search-box></app-search-box>
  </div>
</div>

<div class="container">
  <div class="row">
        <div class="card col-md-3" *ngFor="let video of videos">
          <img class="card-img-top img-fluid" src="{{ video.snippet.thumbnails.high.url}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ video.snippet.title }}</h4>
            <p class="card-text">{{ video.snippet.description }}</p>
            <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" class="btn btn-primary">Watch Now</a>
          </div>
        </div>
    </div>
</div>



